on:
  workflow_call:
  workflow_dispatch:

jobs:
  buildtool:
    strategy:
      matrix:
        release: [R2023a, R2024b]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: matlab-actions/setup-matlab@v2
        with:
          release: ${{ matrix.release }}
          cache: true
          products: >
            Statistics_and_Machine_Learning_Toolbox
            Parallel_Computing_Toolbox
      - uses: matlab-actions/run-build@v2
        with:
          #NOTE: test_codegen requires batch licensing
          tasks: check test
